/* CarreraForm.module.css */

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
}

.formContainer {
    flex: 1;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
}

.formContent {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.backButton {
    margin-top: 15px;
    background-color: #0056b3;
    width: 30%;
    margin: auto;
    font-family: Arial;
    border-radius: 10px;
    height: 40px;
    color: white
}

.backButton:hover {
    background-color: #5a6268;
}

.listContainer {
    flex: 2;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}

.carreraList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listItem {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonGroup {
    display: flex;
    gap: 10px;
}

.delete {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete:hover {
    background-color: #c82333;
}

.edit {
    background-color: #ffc107;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit:hover {
    background-color: #e0a800;
}

.editContainer {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.closeButton {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.closeButton:hover {
    background-color: #c82333;
}

h2 {
    margin-bottom: 20px;
}
